<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="https://img.youtube.com/vi/{{videoId}}/hqdefault.jpg">
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col class="font-size-sm">
        elapsed: {{currentTime | hourMinuteSeconds}}
      </ion-col>
      <ion-col class="font-size-sm ion-text-end">
        remaining: {{RemainingTime | hourMinuteSeconds}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-scrubber (clicked)="onScrubberClick($event)" [value]="Progress" [buffer]="Buffer"
          [disabled]="!isVideoLoaded"></app-scrubber>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" id="player-row" [hidden]="true">
      <youtube-player #youtubePlayer [videoId]="videoId" [width]="playerWidth" [height]="playerHeight"
        suggestedQuality="highres" [startSeconds]="startSeconds">
      </youtube-player>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center" id="player-row">
      <ion-col>
        <ion-button color="primary" expand="block" (click)="onSkipBackward()" [disabled]="!isPlaying" shape="round">
          <ion-icon name="chevron-back-outline"></ion-icon> {{SKIP_TIME_IN_SECONDS}}s
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="onPlayOrPause()" [disabled]="!isVideoLoaded" shape="round"
          size="large">
          <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
          <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="onSkipForward()" [disabled]="!isPlaying" shape="round">
          {{SKIP_TIME_IN_SECONDS}}s <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-timer (start)="onTimerStart()" (elapsed)="onTimerElapsed()" (fadeout)="onTimerFadeOut()"
          [disabled]="!isVideoLoaded" #timer>
        </app-timer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>