<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="https://img.youtube.com/vi/{{videoId}}/hqdefault.jpg">
        </ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col class="font-size-sm">
        elapsed: {{currentTime | hourMinuteSeconds}}
      </ion-col>
      <ion-col class="font-size-sm ion-text-end">
        remaining: {{remainingTime | hourMinuteSeconds}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-scrubber (clicked)="onScrubberClick($event)" [value]="progress" [buffer]="buffer"
          [disabled]="!isVideoLoaded"></app-scrubber>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" id="player-row" [hidden]="true">
      <app-video-player-wrapper #videoPlayerWrapper [videoId]="videoId" [startSeconds]="startSeconds"
        [seekEvents]="seekSubject.asObservable()" [playEvents]="playSubject.asObservable()"
        [pauseEvents]="pauseSubject.asObservable()" [volumeEvents]="volumeSubject.asObservable()"
        (currentTime)="this.currentTime = $event" (remainingTime)="this.remainingTime = $event"
        (progress)="this.progress = $event" (buffer)="this.buffer = $event" (duration)="this.duration = $event"
        (volume)="this.volume = $event" (ready)="onVideoPlayerReady($event)"></app-video-player-wrapper>
    </ion-row>
    <ion-row class="ion-justify-content-between ion-align-items-center" id="player-row">
      <ion-col>
        <ion-button color="primary" expand="block" (click)="onSkipBackward()" [disabled]="!isPlaying" shape="round">
          <ion-icon name="chevron-back-outline"></ion-icon> {{SKIP_TIME_IN_SECONDS}}s
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="onPlayOrPause()" [disabled]="!isVideoLoaded" shape="round"
          size="large">
          <ion-icon *ngIf="!isPlaying" name="play-outline"></ion-icon>
          <ion-icon *ngIf="isPlaying" name="pause-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="onSkipForward()" [disabled]="!isPlaying" shape="round">
          {{SKIP_TIME_IN_SECONDS}}s <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <app-timer (start)="onTimerStart()" (elapsed)="onTimerElapsed()" (fadeout)="onTimerFadeOut()"
          [disabled]="!isVideoLoaded" #timer>
        </app-timer>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>