<ion-header>
  <ion-toolbar>
    <ion-title>
      SleepyTube
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <ion-input type="text" placeholder="Search in Youtube" #searchInput></ion-input>
      <ion-button color="primary" (click)="onSearch(searchInput.value)"
        [disabled]="searchInput.value === this.searchTerm">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let result of results">
      <ion-card button (click)="onSearchResultClick(result)">
        <ion-img [src]="result.imageSrc"></ion-img>
        <ion-card-content>
          {{result.title}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>