<ion-header>
  <ion-toolbar>
    <ion-title>
      SleepyTube
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search in Youtube" (ionInput)="onSearchInput($event)" [debounce​]="1000">
    </ion-searchbar>
  </ion-toolbar>
  <!-- <ion-toolbar>
    <ion-buttons>
      <ion-input type="text" placeholder="Search in Youtube" #videoIdInput></ion-input>
      <ion-button color="primary" (click)="onOpen(videoIdInput.value)" [disabled]="videoIdInput.value === this.videoId">
        Open
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let result of results">
      <ion-card button (click)="onSearchResultClick(result.id)">
        <ion-img [src]="result.imageSrc"></ion-img>
        <ion-card-content>
          {{result.title}}
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>